LPOOII_GRUPO12/ClasesBase/app.config
LPOOII_GRUPO12/ClasesBase/bin/Debug/ClasesBase.dll.config
LPOOII_GRUPO12/ClasesBase/obj/Debug/ClasesBase.pdb
LPOOII_GRUPO12/ClasesBase/obj/Debug/DesignTimeResolveAssemblyReferences.cache
LPOOII_GRUPO12/ClasesBase/Properties/Settings.Designer.cs
LPOOII_GRUPO12/ClasesBase/Properties/Settings.settings
